{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/cad/logo.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}&nbsp;<span style="color:gray; font-size:0.2em; font-weight:normal;">v0.1 alpha</span>
				</h1>
				<h2>{{.i18n.Tr "app_desc"}}</h2>
			</div>
		</div>
	</div>
	{{if eq .Lang "fr-FR"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Communauté
				</h1>
				<p class="large">
					CadRacks est une communauté autour de la CAO dont le but est d'aider à la création de projets hardware. Vous pouvez stocker
					et visualiser des fichiers CAO, des scripts CAO, d'autres fichiers et gérer vos projets seul ou en équipe, améliorer d'autres
					projets ou intégrer des améliorations au votre. <a href="https://cadracks.github.io/blog/2019/01/10/The_need_for_an_Open_Hardware_platform">Plus de détails</a>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Ouvert
				</h1>
				<p class="large">
					CadRacks est un projet Open Source compatible avec tous les logiciels CAO. Il réutilise d'autres projets Open Source.
					Vous souhaitez <a href="https://cadracks.github.io/helping/">contribuer</a>?
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Innovant
				</h1>
				<p class="large">
					CadRacks apporte des innovations à la définitions d'objets complexes et à la gestion de projets CAO.
					La géométrie est containerisée afin de rendre tous types de fichiers CAO compatibles les uns avec les autres
					(en cours de développment, cf <a href="https://cadracks.github.io/blog/2019/01/15/The_roadmap">roadmap</a>).
					La gestion de versions est basée sur <b>git</b>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Démarrage
				</h1>
				<p class="large">
					Suivez les <a href="https://cadracks.github.io/doc/">tutoriels</a> pour devenir membre et créer votre premier projet. Ou <a href="http://www.cadracks.org/explore/repos">explorez</a> les projets existants.
				</p>
			</div>
		</div>
	{{else}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Social
				</h1>
				<p class="large">
					CadRacks is a Computer Aided Design community that will help you build hardware projects.
					You can host and visualize CAD files and scripts, regular files, manage projects as an individual or as an organization,
					improve other projects or add external contributions to yours. More <a href="https://cadracks.github.io/blog/2019/01/10/The_need_for_an_Open_Hardware_platform">here</a>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Open
				</h1>
				<p class="large">
					CadRacks is an Open Source project for Open Hardware that is friendly to whichever CAD software you use.
					It stands on the shoulders of other great Open Source projects. Want to <a href="https://cadracks.github.io/helping/">help</a>?
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Innovative
				</h1>
				<p class="large">
					Cadracks brings innovative ways to define complex objects and manage CAD projects.
					Geometry is containerized to make all file types compatible with one another (in development, see <a href="https://cadracks.github.io/blog/2019/01/15/The_roadmap">roadmap</a>).
					CadRacks version management is based on <b>git</b>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Get started
				</h1>
				<p class="large">
					Follow the <a href="https://cadracks.github.io/doc/">tutorials</a> to become a member and get started. Or <a href="http://www.cadracks.org/explore/repos">search</a> the existing projects.
				</p>
			</div>
		</div>
	{{end}}
</div>
{{template "base/footer" .}}
