{{template "base/head" .}}
<div class="home">
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<img src="logos/universite_rennes_1.jpg" alt="Université Rennes 1" height="128" >
			</div>
			<div class="eight wide center column">
				<img src="logos/Labfab.png" alt="Labfab" height="128" >
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<img src="logos/rennes_metropole.jpg" alt="Rennes Métropole" height="128" >
			</div>
			<div class="eight wide center column">
				<img src="logos/ietr.jpg" alt="IETR" height="128" >
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<img src="logos/fabrique_mobilites.png" alt="Fabrique des Mobilités" height="128" >
			</div>
			<div class="eight wide center column">
				<img src="logos/FSE_logoRVB.jpg" alt="Europe (FEDER)" height="128" >
			</div>
		</div>

</div>
{{template "base/footer" .}}
